
#countdown {
  padding-bottom: 5vh;
  padding-top: 4vh;

}

.mobileTime {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff
}

.desktopTime {
   position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff
}