  .mobileLocText {
  margin-left: 3vw;
  margin-right: 0vw;
  margin-bottom: 5vh;
  padding-right: 0vw;
  width: 120%;

}

.desktopLocText {
  margin-left: 15vw;
  margin-right: 0vw;
  margin-bottom: 5vh;
  padding-right: 0vw;
  width: 80%;
  font-size: large;
}

.mobileLocSubHead {
  margin-left: 8vw;
  margin-right: 0vw;
  padding-right: 0vw;
}

.desktopLocSubHead {
   margin-left: 8vw;
  margin-right: 0vw;
  padding-right: 0vw;
}


.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.googleMapMobile {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0vw;
    width: 70vw;
    height: 40vh;
}

.googleMapDesktop {
    margin-left: 23vw;
    margin-right: auto;
    width: 30vw;
    height: 50vh;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  font-size: 1.3em;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 80vh;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 8vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
}